[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = "*"
flask = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"
celery = {extras = [ "redis",]}
tqdm = "*"
install = "*"
mediapipe = "*"

[dev-packages]
debugpy = "*"
watchdog = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
pytest-celery = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.9"
