[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = "*"
flask = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"
sentence-transformers = "*"
celery = {extras = [ "redis",]}

[dev-packages]
debugpy = "*"
watchdog = "*"
black = "*"

[requires]
python_version = "3.9"
