-i https://pypi.org/simple
amqp==5.3.1; python_version >= '3.6'
billiard==4.2.1; python_version >= '3.7'
black==25.1.0
celery[redis]==5.4.0
certifi==2025.1.31; python_version >= '3.6'
charset-normalizer==3.4.1; python_version >= '3.7'
click==8.1.8; python_version >= '3.7'
click-didyoumean==0.3.1; python_full_version >= '3.6.2'
click-plugins==1.1.1
click-repl==0.3.0; python_version >= '3.6'
coverage[toml]==7.6.10; python_version >= '3.9'
debugpy==1.8.12
docker==7.1.0; python_version >= '3.8'
exceptiongroup==1.2.2; python_version < '3.11'
idna==3.10; python_version >= '3.6'
iniconfig==2.0.0; python_version >= '3.7'
kombu==5.4.2; python_version >= '3.8'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==24.2; python_version >= '3.8'
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.3.6; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
prompt-toolkit==3.0.50; python_full_version >= '3.8.0'
psutil==6.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pytest==8.3.4
pytest-celery==1.1.3
pytest-cov==6.0.0
pytest-docker-tools==3.1.3; python_full_version >= '3.7.0' and python_full_version < '4.0.0'
pytest-dotenv==0.5.2
pytest-mock==3.14.0
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.1
requests==2.32.3
setuptools==75.8.0; python_version >= '3.9'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tenacity==9.0.0; python_version >= '3.8'
tomli==2.2.1; python_version < '3.11'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2025.1; python_version >= '2'
urllib3==2.3.0; python_version >= '3.9'
vine==5.1.0; python_version >= '3.6'
watchdog==6.0.0
wcwidth==0.2.13
