{% extends 'base.html' %}

{% macro media_item_field(field, media_item) %}
{% if field == 'preview_with_link' %}
<a target="_blank" rel="noopener noreferrer" href="{{ media_item['productUrl'] }}">
    <img src="{{ media_item['baseUrl'] }}=w100-h100" />
</a>
{% elif field == "width" %}
{{ media_item['mediaMetadata']['width'] }}
{% elif field == "height" %}
{{ media_item['mediaMetadata']['height'] }}
{% elif field == "filename" %}
<a target="_blank" rel="noopener noreferrer" href="{{ media_item['filenameSearchUrl'] }}">
    {{ media_item['filename'] }}
</a>
{% else %}
{{ media_item[field] }}
{% endif %}
{% endmacro %}

{% block header %}
<h2>{% block title %}Results{% endblock %}</h2>
{% endblock %}

{% block content %}
<p>Status: {{ result.status }}</p>

{% if show_results %}
<table class="results">
    <thead>
        <th>Group</th>
        <th>Attribute</th>
        <th>Original</th>
        <th>Duplicates</th>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            {% for field in fields %}
            <td rowspan="TODO"></td>
            <td>{{ field }}</td>
            {% for mediaItem in group %}
            <td class="{{ mediaItem['type'] }}">
                {{ media_item_field(field, mediaItem) }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

<p>
    <i>
        Click "Delete duplicates" to delete the selected duplicates. Assuming you have the Chrome extension
        installed, this will open up a new tab and delete the selected duplicate photos through the Google Photos web
        app. Deleted photos can be
        <a target="_blank" rel="noopener noreferrer"
            href="https://support.google.com/photos/answer/6128858#restore-items">restored</a> for up to 60 days after
        they are deleted.
    </i>
</p>
<button class="processDuplicates">Delete duplicates</button>

{% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelector("button.processDuplicates");

        button.addEventListener("click", (event) => {

            window.postMessage({
                action: "startDeletionTask",
                duplicateMediaItems: [
                    {
                        productUrl: "https://photos.google.com/lr/photo/AE-vYs5HuL4Zq0oJTIcklVdIGa9ylN7wcW0p86fHMQSxlS8wOtkmvFM5bLiV8idUx5zcsM-ftX45Oiojo3Pms0sabovI3X6Exg"
                    }
                ]
            });
        });
    });
</script>
{% endblock %}